
*{box-sizing: border-box;}

.top-nav-list {
    margin: 20px;
}

.top-nav-link {
    text-decoration: none;
    color: #000;
}

.top-nav-btn {
    background-color: white;
    border: none;
}

.decision-div {
    height: 50px;
    font-size: 30px;
    text-align: center;
}